/* Regular style stuff */
body {
    font-family: helvetica; /* TODO: Make generic*/
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* Main positioning and padding*/
#content {
    max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
}
header { padding-top: 20px; }
img { width: 100%; }
p {
    margin-top: 0; /* Make paragraph line up nicely in grid*/
    text-align: justify;
    text-justify: inter-word;
}

/* Stylize links */
a:link    { color: #00c }
a:visited { color: #00c }
a:hover   { color: #0af }
a:active  { color: #00a }

#contact {
    padding-top: 40px;
    text-align: center;
}

#contact>table {
    margin-left: auto;
    margin-right: auto; }
.contact-right {
    text-align: right; }
.contact-left {
    text-align: left; }

/* Left and right columns */
.left {
    float: left;
    width: 50%;
    padding-right: 20px; }
.right {
    float: right;
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box; }
.left, .right { box-sizing: border-box; }


/* Bulleted item list */
.bullet-item+.bullet-item:before { content: " • "; }

nav {
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
    padding: 30px;
}

.list-head {
    margin-left: -40px;
    margin-bottom: .5em;
}

@media only screen and (max-width: 500px) {
    .left, .right {
        float: none;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #logo {
        /* margin-left: -30px; */
        /* box-sizing: border-box; */

        padding-left: -30px;
        padding-right: -30px;
    }

    body {
        padding-top: 20px;
    }
}
