
/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Regular style stuff */
body {
    font-family: helvetica; /* TODO: Make generic*/
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

/* Stylize links */
a:link    { color: #00c }
a:visited { color: #00c }
a:hover   { color: #0af }
a:active  { color: #00a }

p {
    margin-top: 0;
    text-align: justify;
    text-justify: inter-word;
}

#contact {
    padding-top: 40px;
    text-align: center;
}

#contact>table {
    margin-left: auto;
    margin-right: auto; }
.contact-right {
    text-align: right; }
.contact-left {
    text-align: left; }

.left {
    float: left;
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
}

.right {
    float: right;
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;
}

.bullet-item {
    display: inline;
}
.bullet-item+.bullet-item:before {
    content: " • ";
}

nav {
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
    padding: 30px;
}

#logo {
    width: 100%;
}

.list-head {
    margin-left: -40px;
    margin-bottom: .5em;
}

#exampleproduct {
    width: 100%;
}
