
/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Regular style stuff */
body {
    font-family: helvetica; /* TODO: Make generic*/
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* Stylize links */
a         { font-weight: bold }
a:link    { color: #00c }
a:visited { color: #00c }
a:hover   { color: #0af }
a:active  { color: #00a }

p {
    margin-top: 0;
    text-align: justify;
    text-justify: inter-word;
}

#email {
    text-align: center;
    padding: 30px;

}

#advert > .left {
    float: left;
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
}

#advert > .right {
    float: right;
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;
}


/* Style 1 */


.bullet-item {
    display: inline;
}
.bullet-item+.bullet-item:before {
    content: " • ";
}


/* Style 2 */

/*
nav>.nav-item {
    display: block; }
nav {
    position: absolute;
    right: 50vw;
    margin-right: 470px;
    top: 300px; }
*/


nav {
    text-align: center;
    line-height: 1.5em;
    padding: 30px;
}

#slogan {
    margin-top: 1em;
    font-weight: bold;
    display: block;
}

#logo {
/*    width: 300px;*/
    width: 100%;
    margin-left: 30px;
}

.list-head {
    margin-left: -40px;
    margin-bottom: .5em;
}

#contact-info {
/*    background: #F00;*/
    float: right;
    text-align: left;
    padding: 30px;
}
