
/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Regular style stuff */
body {
    font-family: helvetica; /* TODO: Make generic*/
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* Stylize links */
a         { font-weight: bold }
a:link    { color: #00c }
a:visited { color: #00c }
a:hover   { color: #0af }
a:active  { color: #00a }

p {
    text-align: justify;
    text-justify: inter-word;
}

#email {
    text-align: center;
}

#advert > .left {
    float: left;
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
}

#advert > .right {
    float: right;
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;
}


nav>.nav-item {
    display: inline;
}

nav>.nav-item+.nav-item:before {
    content: " • ";
}

nav, #slogan {
    text-align: right;
    line-height: 1.5em;
}

#slogan {
    margin-top: 1em;
    font-weight: bold;
    display: block;
}

#logo {
    width: 300px;
    margin-left: 30px;
}
